.dropdown-menu.dropdown-dark::after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2b3034;
  border:0px;
  border-style: solid;
  border-width: 0 10px 10px;
  bottom: -10px;
  content: none;
  display: block;
  height: 0;
  left: 1px;
  position: absolute;
  width: 0;
}
/*.dropdown-menu.dropdown-dark, dropdown-menu:hover {
  background-color: #2b3034;
  border: 0px solid #1a1c1e;
  border-radius: 6px;
  box-shadow: none;
  list-style: outside none none;
  max-width: 300px;
  min-width: 166px;
  padding: 0;
  position: absolute;
  text-shadow: none;
  z-index: 1000;
 
}*/
/*Search Datatable*/
.form-inline .form-control {
  display: inline-block;
  vertical-align: middle;
  width: 68%;
}